.aboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutInfo,
.aboutInfo2 {
  display: flex;
  justify-content: center;
}

.aboutInfo .aboutInfoLeft,
.aboutInfo2 .aboutInfoLeft {
  width: 40%;
  height: 320px;
  color: #fff;
  font-size: 22px;
  font-style: italic;
  font-weight: 700;
  line-height: 150%;
  background-color: var(--main-color);
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.aboutInfo .aboutInfoRight img,
.aboutInfo2 .aboutInfoRight img {
  width: 40vw;
  height: 320px;
}

