.aboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutInfo {
  display: flex;
  justify-content: center;
  animation: appear 5ms linear 1;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
}
.aboutInfo2 {
  display: flex;
  animation: appear2 5ms linear 1;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
  justify-content: center;
}

.aboutInfo .aboutInfoLeft,
.aboutInfo2 .aboutInfoLeft {
  width: 40%;
  height: 320px;
  color: #fff;
  font-size: 22px;
  font-style: italic;
  font-weight: 700;
  line-height: 150%;
  background-color: var(--main-color);
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.aboutInfo .aboutInfoRight img,
.aboutInfo2 .aboutInfoRight img {
  width: 40vw;
  height: 320px;
}

@keyframes appear {
  from {
    opacity: 0;
    /* translate: -100vw 0; */
  }
  to {
    opacity: 1;
    /* translate: 0 0; */
  }
}
@keyframes appear2 {
  from {
    opacity: 0;
    /* translate: 100vw 0; */
  }
  to {
    opacity: 1;
    /* translate: 0 0; */
  }
}
